.container {
  width: 26rem;
  background: ghostwhite;
}

.icon {
  background: url('../assets/icons/options.svg');
  background-repeat: no-repeat;
  background-position: 95% 25%;
}

#heading {
  display: flex;
  justify-content: space-evenly;
}

#add {
  outline: none;
  border: none;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  background: none;
}

#clear {
  padding: 18px;
  font-style: italic;
  font-weight: 200;
  cursor: pointer;
}

.edit-task{
  color: green;
  border: none;
  font-family: cursive;
  font-style: italic;
  font-weight: 100;
  padding: 10px;
  background: transparent;
}