.Container {
  background: ghostwhite;
  width: 40%;
  margin-left: 30%;
}

.icon {
  background: url('../assets/icons/options.svg');
  background-repeat: no-repeat;
  background-position: 95% 25%;
}

#heading {
  display: flex;
  justify-content: space-evenly;
}

#add {
  outline: none;
  border: none;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  background: none;
}

#clear {
  padding: 18px;
  font-style: italic;
  font-weight: 200;
  cursor: pointer;
}

.edit-task {
  color: green;
  border: none;
  font-family: cursive;
  font-style: italic;
  font-weight: 100;
  padding: 10px;
  background: transparent;
}

.icon2 {
  border: none;
  background: url('./options.svg');
  padding: 15px;
  background-repeat: no-repeat;
  margin-left: 50%;
}

.icon3 {
  border: none;
  background: url('./delete.svg');
  padding: 15px;
  background-repeat: no-repeat;
  display: none;
  margin-left: 50%;
}

.editField {
  border: none;
  outline: none;
  width: 100%;
  padding: 12px;
  background: rgba(237, 237, 13, 0.9);
}
